body {
    background-color: #838383;
}

p {
    text-indent: 15px;
}

h1 {
    font-size: 2em;
    margin: 10px 0 5px 0;
}

h2 {
    font-size: 1.5em;
    margin: 10px 0 5px 0;
}

strong {
    font-weight: bold;
}

ul, ol {
    margin-left: 25px;
}

header {
    padding: 10px;
    min-height: 48px;
    background-color: white;
}

#logo {
    text-decoration: none;
    float: left;
}

header h1 {
    text-align: right;
    color: #3b8dbd;
}

#content-wrapper {
    padding: 10px 10px 10px 10px;
    margin-bottom: 35px;
}

#breadcrumb {
    background: #ffd400 url("../img/house.png") 3px center no-repeat;
    padding: 10px 5px 10px 40px;
    border: 1px solid #00aeef;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #0fb502;
    color: rgba(36, 86, 116, 0.82);
}

.clear {
    clear: both;
}

footer {
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: rgba(15, 181, 2, 0.98);
    color: #ffffff;
    font-size: 0.9em;
    padding: 8px;
}

#top-menu div {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #0fb502;
    border-bottom: 1px solid #0fb502;
    height: 40px;
    font-weight: bold;
}

#top-menu div ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    color: #fff;
}

#top-menu div ul li {
    float: left;
    height: 40px;
}

#top-menu div ul a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    display: block;
    height: 20px;
    transition: .5s;
}

#top-menu div ul a:hover {
    color: #0fb502;
    background: #ffffff;
}
#top-menu div ul a:active {
    background: #c7e6f5;
}

#left-bar {
    float: left;
    width: 200px;
}

.widget {
    margin-bottom: 5px;
    border-radius: 8px;
    background: #fff;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #ffd400;
    box-shadow: 1px 1px 3px #c2c2c2;
}

.widget .header {
    background: #ffd400 url("../img/toggle-collapse.png") 15px center no-repeat;
    color: #ffffff;
    padding: 15px;
    text-align: right;
    font-weight: bold;
    border-radius: 8px 8px 0 0;
    text-transform: capitalize;
    cursor: pointer;
}

.widget .content {
    padding: 5px 10px 10px 10px;
}

.widget .content p {
    border-bottom: 1px solid rgba(131, 131, 131, 0.81);
    padding: 10px 0;
}

.widget.collapsed .content {
    display: none;
}

.widget.collapsed .header {
    border-radius: 8px;
    background-image: url("../img/toggle-expand.png");
}

#google-search #q{
    margin: 5px 0;
}

#content {
    padding-left: 220px
}

.red-element {
    color: red;
}

/* for debugging layers use class="borders" */
.borders {
    padding: 5px;
    margin: 5px;
    border: 1px solid gray;
}

.cards-table{
    margin-top: 10px;
}
.card {
    border: 1px solid #000000;
    border-radius: 5px;
    width: 60px;
    height: 100px;
   padding: 5px;
    background: rgba(225, 16, 3, 0.70);
    float: left;
}

.card-symbol{
    text-align: center;
    font-size: 3em;
    color: #ffffff;
}
.card-name-bottom{
    margin-top: 10px;
    transform: rotate(-180deg);
    color: #ffffff;
}
.top{
    color: #ffffff;
}


#banner {
    moz-border-radius: 15px;
    border-radius: 15px;
    width: 100%;
    height: 330px;
    background-color: #333;
    margin: 2px 2px 2px 2px;
}
div {
    display: block;
}
.accordionWrapper {
    display: inline;
    background-color: #333;
    overflow: hidden;
    margin: 10px 20px 11px 11px;
}
.set1 {
    background-color: #669900;
}
.accordionWrapper div.title {
    cursor: pointer;
}
.accordionWrapper div {
    display: inline;
    float: left;
    margin: auto;
}
.accordionWrapper img {
    vertical-align: top;
    border: 0;
    margin: 0;
    padding: 0;
}
.set2 {
    background-color: #cc6600;
}
.accordionWrapper img {
    vertical-align: top;
    border: 0;
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
}
script {
    display: none;
}
.main {
    width: 1100px;
    margin: 10px auto;
    text-align: left;
    z-index: 100;
}
html, body {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: #a8a89f;
}